In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MultiLabelBinarizer
from category_encoders import BinaryEncoder
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
import lightgbm as lgb
from sklearn.metrics import accuracy_score


font_path = '../Font/GmarketSansTTFMedium.ttf'
font_name = fm.FontProperties(fname=font_path).get_name()
plt.rc('font', family=font_name)

plt.rcParams['axes.unicode_minus'] = False

In [2]:
seoul = pd.read_csv('../Data/preprocessing/seoul_real_transcation_price.csv')

In [3]:
seoul.head(5)

,시도명,시군구명,관리기관,회사명,공장구분,단지명,설립구분,입주형태,보유구분,등록구분,...,지식산업센터명,대표업종,업종명,업종코드,차수,법인주소,필지수,공장주소,공장주소_지번,공장관리번호
0,서울특별시,종로구,서울특별시 종로구,남일문화 (주),개별,,일반,해당없음,임대,신규등록,...,,18111,경 인쇄업 외 2 종,"181,111,811,318,119",10,서울특별시 종로구 자하문로16길 8 (창성동),1,서울특별시 종로구 자하문로16길 8 (창성동),서울특별시 종로구 창성동 87-1번지,1.110000e+14
1,서울특별시,종로구,서울특별시 종로구,(주)에취.알.디,개별,,일반,해당없음,임대,등록변경,...,,33932,전시용 모형 제조업,33932,10,서울특별시 종로구 통의동 35-69번지,1,서울특별시 종로구 통의동 35-69번지,서울특별시 종로구 통의동 35-69번지,1.110000e+14
2,서울특별시,종로구,서울특별시 종로구,(주)코리아쉬핑가제트,개별,,일반,해당없음,자가,등록변경,...,,58113,일반 서적 출판업 외 3 종,"58,113,181,111,811,300,000",10,서울특별시 도봉구 창동 181-17번지 쌍용아파트 115-1902,1,서울특별시 종로구 자하문로2길 13-3 (통의동),서울특별시 종로구 통의동 35-6번지,1.110000e+14
3,서울특별시,종로구,서울특별시 종로구,삼영DP,개별,,일반,해당없음,임대,신규등록,...,,18111,경 인쇄업 외 2 종,"181,111,811,318,119",10,서울특별시 종로구 사직로 125 (적선동),1,서울특별시 종로구 사직로 125 (적선동),서울특별시 종로구 적선동 107-1번지,1.110000e+14
4,서울특별시,종로구,서울특별시 종로구,삼진기획,개별,,일반,해당없음,임대,등록변경,...,,18119,기타 인쇄업 외 1 종,"1,811,918,113",10,서울특별시 서대문구 홍제동 -번지 문화촌현대아파트 103-1101호,1,서울특별시 종로구 적선동 2번지,서울특별시 종로구 적선동 2번지,1.110000e+14

In [4]:
seoul.columns

Index(['시도명', '시군구명', '관리기관', '회사명', '공장구분', '단지명', '설립구분', '입주형태', '보유구분',
       '등록구분', '전화번호', '남자종업원', '여자종업원', '외국인남자종업원', '외국인여자종업원', '종업원합계',
       '생산품', '원자재', '공장규모', '용도지역', '지목', '용지면적', '제조시설면적', '부대시설면적', '건축면적',
       '지식산업센터명', '대표업종', '업종명', '업종코드', '차수', '법인주소', '필지수', '공장주소',
       '공장주소_지번', '공장관리번호'],
      dtype='object')

### 삭제할 칼럼
시도명, 시군구명, 관리기관, 회사명, 단지명, 전화번호, 법인주소, 필지수, 공장주소, 공장관리번호, 시

### 보류 칼럼 (일단 삭제)
생산품, 원자재, 업종명, 대표업종, 차수, 필지수

### 전처리 진행
용도지역, 업종코드 값 000 제거, 공장주소 지번 -> 동으로 쪼개기

In [5]:
seoul = seoul.drop(columns=['시도명', '시군구명', '관리기관', '회사명', '단지명', '전화번호', '법인주소', '필지수', '공장주소', '공장관리번호']) #1차
seoul = seoul.drop(columns=['생산품', '원자재', '업종명', '업종코드', '차수']) #2차

In [6]:
seoul.head(3)

,공장구분,설립구분,입주형태,보유구분,등록구분,남자종업원,여자종업원,외국인남자종업원,외국인여자종업원,종업원합계,공장규모,용도지역,지목,용지면적,제조시설면적,부대시설면적,건축면적,지식산업센터명,대표업종,공장주소_지번
0,개별,일반,해당없음,임대,신규등록,0,0,0,0,0,소기업,도시지역/주거지역/제2종일반주거지역/고도지구,대,238.00,57.12,69.44,126.56,,18111,서울특별시 종로구 창성동 87-1번지
1,개별,일반,해당없음,임대,등록변경,5,2,0,0,7,소기업,도시지역/주거지역/주거지역/,대,157.55,79.11,78.44,157.55,,33932,서울특별시 종로구 통의동 35-69번지
2,개별,일반,해당없음,자가,등록변경,12,12,0,0,24,소기업,도시지역/주거지역/주거지역/,대,160.30,92.40,67.90,160.30,,58113,서울특별시 종로구 통의동 35-6번지

### 공장주소_지번을 시, 구, 동으로 구분하기

In [7]:
address = seoul['공장주소_지번'].str.split(n=2, expand=True)
address[2] = address[2].str.split().str[0] #남은 부분에서 첫번째만 분리

print(address)

address.columns = ['시', '구', '동']
seoul = pd.concat([seoul, address[['시', '구', '동']]], axis=1)
seoul = seoul.drop(columns=['공장주소_지번', '시', '동'])

           0    1    2
0      서울특별시  종로구  창성동
1      서울특별시  종로구  통의동
2      서울특별시  종로구  통의동
3      서울특별시  종로구  적선동
4      서울특별시  종로구  적선동
...      ...  ...  ...
11628  서울특별시  강동구  천호동
11629  서울특별시  강동구  천호동
11630  서울특별시  강동구  천호동
11631  서울특별시  강동구  천호동
11632  서울특별시  강동구  천호동

[11633 rows x 3 columns]

In [8]:
object_columns = ['공장구분', '설립구분', '입주형태', '보유구분', '등록구분', '공장규모', '용도지역', '지목', '지식산업센터명', '대표업종', '구']
int_columns = ['남자종업원', '여자종업원', '외국인남자종업원', '외국인여자종업원', '종업원합계','용지면적', '제조시설면적', '부대시설면적', '건축면적']

In [9]:
# object 타입 변환
for column in object_columns:
    seoul[column] = seoul[column].astype('object')

for column in int_columns:
    seoul[column] = seoul[column].astype('int')

In [10]:
seoul['지목'] = seoul['지목'].str.strip() # 공백제거
seoul['지목'].replace('', '해당없음', inplace=True)
seoul['지목'].fillna('해당없음', inplace=True)

In [11]:
seoul['지식산업센터명'] = seoul['지식산업센터명'].str.strip() # 공백제거
seoul['지식산업센터명'].replace('', '해당없음', inplace=True)
seoul['지식산업센터명'].fillna('해당없음', inplace=True)

In [12]:
label_encoders = {}
for column in seoul.select_dtypes(include=['object']).columns:
    if column != '구':
        label_encoders[column] = LabelEncoder()
        seoul[column] = label_encoders[column].fit_transform(seoul[column])

# '구' 칼럼 라벨 인코딩
label_encoder_gu = LabelEncoder()
seoul['구'] = label_encoder_gu.fit_transform(seoul['구'])

In [13]:
seoul

,공장구분,설립구분,입주형태,보유구분,등록구분,남자종업원,여자종업원,외국인남자종업원,외국인여자종업원,종업원합계,공장규모,용도지역,지목,용지면적,제조시설면적,부대시설면적,건축면적,지식산업센터명,대표업종,구
0,0,1,9,0,2,0,0,0,0,0,1,57,2,238,57,69,126,223,105,22
1,0,1,9,0,0,5,2,0,0,7,1,78,2,157,79,78,157,223,396,22
2,0,1,9,1,0,12,12,0,0,24,1,78,2,160,92,67,160,223,422,22
3,0,1,9,0,2,0,0,0,0,0,1,59,2,280,35,88,123,223,105,22
4,0,1,9,0,0,7,2,0,0,9,1,34,2,122,159,18,177,223,108,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11628,0,1,6,0,0,1,4,0,0,5,1,58,2,104,104,0,104,223,68,1
11629,0,1,9,1,0,0,0,0,0,0,1,78,2,164,110,53,164,223,384,1
11630,0,1,6,0,0,7,0,0,0,7,1,58,2,125,114,11,125,223,77,1
11631,0,1,6,0,2,2,3,0,0,5,1,74,2,104,104,0,104,223,42,1
11632,0,1,6,0,2,2,3,0,0,5,1,74,2,104,104,0,104,223,42,1

In [14]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, Dataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score

# 데이터셋 클래스 정의
class CustomDataset(Dataset):
    def __init__(self, X, y):
        self.X = torch.tensor(X, dtype=torch.float32)
        self.y = torch.tensor(y, dtype=torch.long)
    
    def __len__(self):
        return len(self.X)
    
    def __getitem__(self, idx):
        return self.X[idx], self.y[idx]

# 특성과 타겟 변수 분리
X = seoul.drop(columns=['구']).values
y = seoul['구'].values

# 데이터 스케일링
scaler = StandardScaler()
X = scaler.fit_transform(X)

# 데이터 분할
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# 데이터셋 및 데이터로더 생성
train_dataset = CustomDataset(X_train, y_train)
val_dataset = CustomDataset(X_val, y_val)
test_dataset = CustomDataset(X_test, y_test)

train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
val_loader = DataLoader(val_dataset, batch_size=64, shuffle=False)
test_loader = DataLoader(test_dataset, batch_size=64, shuffle=False)

# 모델 정의
class NeuralNet(nn.Module):
    def __init__(self, input_size, num_classes):
        super(NeuralNet, self).__init__()
        self.fc1 = nn.Linear(input_size, 512)
        self.dropout1 = nn.Dropout(0.5)
        self.fc2 = nn.Linear(512, 256)
        self.dropout2 = nn.Dropout(0.5)
        self.fc3 = nn.Linear(256, 128)
        self.dropout3 = nn.Dropout(0.5)
        self.fc4 = nn.Linear(128, num_classes)
    
    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = self.dropout1(x)
        x = torch.relu(self.fc2(x))
        x = self.dropout2(x)
        x = torch.relu(self.fc3(x))
        x = self.dropout3(x)
        x = self.fc4(x)
        return x

# 모델, 손실 함수 및 옵티마이저 설정
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
input_size = X_train.shape[1]
num_classes = len(np.unique(y))
model = NeuralNet(input_size, num_classes).to(device)
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.0005)

# 모델 학습 함수
def train_model(model, criterion, optimizer, train_loader, val_loader, num_epochs=100):
    best_val_accuracy = 0.0
    for epoch in range(num_epochs):
        model.train()
        train_loss = 0.0
        for X_batch, y_batch in train_loader:
            X_batch, y_batch = X_batch.to(device), y_batch.to(device)
            optimizer.zero_grad()
            outputs = model(X_batch)
            loss = criterion(outputs, y_batch)
            loss.backward()
            optimizer.step()
            train_loss += loss.item() * X_batch.size(0)
        
        train_loss = train_loss / len(train_loader.dataset)
        
        model.eval()
        val_loss = 0.0
        val_corrects = 0
        with torch.no_grad():
            for X_batch, y_batch in val_loader:
                X_batch, y_batch = X_batch.to(device), y_batch.to(device)
                outputs = model(X_batch)
                loss = criterion(outputs, y_batch)
                val_loss += loss.item() * X_batch.size(0)
                _, preds = torch.max(outputs, 1)
                val_corrects += torch.sum(preds == y_batch.data)
        
        val_loss = val_loss / len(val_loader.dataset)
        val_accuracy = val_corrects.double() / len(val_loader.dataset)
        
        if val_accuracy > best_val_accuracy:
            best_val_accuracy = val_accuracy
            torch.save(model.state_dict(), 'best_model.pth')
        
        print(f'Epoch {epoch+1}/{num_epochs}, Train Loss: {train_loss:.4f}, Val Loss: {val_loss:.4f}, Val Accuracy: {val_accuracy:.4f}')

# 모델 학습
train_model(model, criterion, optimizer, train_loader, val_loader, num_epochs=100)

# 최적 모델 로드
# model.load_state_dict(torch.load('best_model.pth'))

# 모델 평가
model.eval()
test_corrects = 0
with torch.no_grad():
    for X_batch, y_batch in test_loader:
        X_batch, y_batch = X_batch.to(device), y_batch.to(device)
        outputs = model(X_batch)
        _, preds = torch.max(outputs, 1)
        test_corrects += torch.sum(preds == y_batch.data)

test_accuracy = test_corrects.double() / len(test_loader.dataset)
print(f'Test Accuracy: {test_accuracy:.4f}')

Epoch 1/100, Train Loss: 2.2631, Val Loss: 1.8493, Val Accuracy: 0.3960
Epoch 2/100, Train Loss: 1.8405, Val Loss: 1.7360, Val Accuracy: 0.4447
Epoch 3/100, Train Loss: 1.7462, Val Loss: 1.6697, Val Accuracy: 0.4653
Epoch 4/100, Train Loss: 1.6993, Val Loss: 1.6375, Val Accuracy: 0.4682
Epoch 5/100, Train Loss: 1.6653, Val Loss: 1.6116, Val Accuracy: 0.4779
Epoch 6/100, Train Loss: 1.6544, Val Loss: 1.5917, Val Accuracy: 0.4762
Epoch 7/100, Train Loss: 1.6291, Val Loss: 1.5825, Val Accuracy: 0.4768
Epoch 8/100, Train Loss: 1.6132, Val Loss: 1.5766, Val Accuracy: 0.4946
Epoch 9/100, Train Loss: 1.5984, Val Loss: 1.5609, Val Accuracy: 0.4911
Epoch 10/100, Train Loss: 1.5871, Val Loss: 1.5567, Val Accuracy: 0.4905
Epoch 11/100, Train Loss: 1.5763, Val Loss: 1.5462, Val Accuracy: 0.4883
Epoch 12/100, Train Loss: 1.5681, Val Loss: 1.5430, Val Accuracy: 0.4825
Epoch 13/100, Train Loss: 1.5644, Val Loss: 1.5387, Val Accuracy: 0.4917
Epoch 14/100, Train Loss: 1.5548, Val Loss: 1.5340, Val Accuracy: 0.4986
Epoch 15/100, Train Loss: 1.5413, Val Loss: 1.5319, Val Accuracy: 0.4894
Epoch 16/100, Train Loss: 1.5359, Val Loss: 1.5202, Val Accuracy: 0.4997
Epoch 17/100, Train Loss: 1.5323, Val Loss: 1.5164, Val Accuracy: 0.4974
Epoch 18/100, Train Loss: 1.5277, Val Loss: 1.5080, Val Accuracy: 0.4946
Epoch 19/100, Train Loss: 1.5182, Val Loss: 1.5055, Val Accuracy: 0.5009
Epoch 20/100, Train Loss: 1.5109, Val Loss: 1.5018, Val Accuracy: 0.4980
Epoch 21/100, Train Loss: 1.5051, Val Loss: 1.4980, Val Accuracy: 0.5054
Epoch 22/100, Train Loss: 1.5088, Val Loss: 1.4910, Val Accuracy: 0.5020
Epoch 23/100, Train Loss: 1.4997, Val Loss: 1.4937, Val Accuracy: 0.5043
Epoch 24/100, Train Loss: 1.4946, Val Loss: 1.4951, Val Accuracy: 0.5009
Epoch 25/100, Train Loss: 1.4957, Val Loss: 1.4919, Val Accuracy: 0.5032
Epoch 26/100, Train Loss: 1.4781, Val Loss: 1.4919, Val Accuracy: 0.5072
Epoch 27/100, Train Loss: 1.4701, Val Loss: 1.4848, Val Accuracy: 0.5135
Epoch 28/100, Train Loss: 1.4743, Val Loss: 1.4832, Val Accuracy: 0.5106
Epoch 29/100, Train Loss: 1.4718, Val Loss: 1.4859, Val Accuracy: 0.5123
Epoch 30/100, Train Loss: 1.4733, Val Loss: 1.4761, Val Accuracy: 0.5158
Epoch 31/100, Train Loss: 1.4599, Val Loss: 1.4693, Val Accuracy: 0.5049
Epoch 32/100, Train Loss: 1.4545, Val Loss: 1.4744, Val Accuracy: 0.5117
Epoch 33/100, Train Loss: 1.4610, Val Loss: 1.4721, Val Accuracy: 0.5181
Epoch 34/100, Train Loss: 1.4568, Val Loss: 1.4716, Val Accuracy: 0.5163
Epoch 35/100, Train Loss: 1.4558, Val Loss: 1.4695, Val Accuracy: 0.5244
Epoch 36/100, Train Loss: 1.4451, Val Loss: 1.4586, Val Accuracy: 0.5186
Epoch 37/100, Train Loss: 1.4459, Val Loss: 1.4606, Val Accuracy: 0.5146
Epoch 38/100, Train Loss: 1.4427, Val Loss: 1.4660, Val Accuracy: 0.5181
Epoch 39/100, Train Loss: 1.4482, Val Loss: 1.4596, Val Accuracy: 0.5181
Epoch 40/100, Train Loss: 1.4379, Val Loss: 1.4637, Val Accuracy: 0.5181
Epoch 41/100, Train Loss: 1.4328, Val Loss: 1.4633, Val Accuracy: 0.5175
Epoch 42/100, Train Loss: 1.4400, Val Loss: 1.4709, Val Accuracy: 0.5123
Epoch 43/100, Train Loss: 1.4263, Val Loss: 1.4572, Val Accuracy: 0.5226
Epoch 44/100, Train Loss: 1.4295, Val Loss: 1.4551, Val Accuracy: 0.5238
Epoch 45/100, Train Loss: 1.4199, Val Loss: 1.4592, Val Accuracy: 0.5203
Epoch 46/100, Train Loss: 1.4193, Val Loss: 1.4517, Val Accuracy: 0.5175
Epoch 47/100, Train Loss: 1.4152, Val Loss: 1.4626, Val Accuracy: 0.5140
Epoch 48/100, Train Loss: 1.4075, Val Loss: 1.4521, Val Accuracy: 0.5181
Epoch 49/100, Train Loss: 1.4139, Val Loss: 1.4556, Val Accuracy: 0.5221
Epoch 50/100, Train Loss: 1.4159, Val Loss: 1.4530, Val Accuracy: 0.5249
Epoch 51/100, Train Loss: 1.4127, Val Loss: 1.4574, Val Accuracy: 0.5169
Epoch 52/100, Train Loss: 1.4097, Val Loss: 1.4573, Val Accuracy: 0.5255
Epoch 53/100, Train Loss: 1.3989, Val Loss: 1.4523, Val Accuracy: 0.5244
Epoch 54/100, Train Loss: 1.4075, Val Loss: 1.4450, Val Accuracy: 0.5226
Epoch 55/100, Train Loss: 1.3998, Val Loss: 1.4541, Val Accuracy: 0.5272
Epoch 56/100, Train Loss: 1.3977, Val Loss: 1.4497, Val Accuracy: 0.5301
Epoch 57/100, Train Loss: 1.4100, Val Loss: 1.4485, Val Accuracy: 0.5249
Epoch 58/100, Train Loss: 1.3964, Val Loss: 1.4507, Val Accuracy: 0.5266
Epoch 59/100, Train Loss: 1.3931, Val Loss: 1.4396, Val Accuracy: 0.5261
Epoch 60/100, Train Loss: 1.3937, Val Loss: 1.4409, Val Accuracy: 0.5272
Epoch 61/100, Train Loss: 1.3851, Val Loss: 1.4364, Val Accuracy: 0.5226
Epoch 62/100, Train Loss: 1.3780, Val Loss: 1.4402, Val Accuracy: 0.5244
Epoch 63/100, Train Loss: 1.3888, Val Loss: 1.4376, Val Accuracy: 0.5255
Epoch 64/100, Train Loss: 1.3891, Val Loss: 1.4341, Val Accuracy: 0.5295
Epoch 65/100, Train Loss: 1.3850, Val Loss: 1.4368, Val Accuracy: 0.5330
Epoch 66/100, Train Loss: 1.3835, Val Loss: 1.4341, Val Accuracy: 0.5238
Epoch 67/100, Train Loss: 1.3746, Val Loss: 1.4307, Val Accuracy: 0.5301
Epoch 68/100, Train Loss: 1.3733, Val Loss: 1.4338, Val Accuracy: 0.5358
Epoch 69/100, Train Loss: 1.3714, Val Loss: 1.4314, Val Accuracy: 0.5324
Epoch 70/100, Train Loss: 1.3711, Val Loss: 1.4340, Val Accuracy: 0.5318
Epoch 71/100, Train Loss: 1.3661, Val Loss: 1.4246, Val Accuracy: 0.5312
Epoch 72/100, Train Loss: 1.3706, Val Loss: 1.4333, Val Accuracy: 0.5364
Epoch 73/100, Train Loss: 1.3690, Val Loss: 1.4317, Val Accuracy: 0.5370
Epoch 74/100, Train Loss: 1.3635, Val Loss: 1.4351, Val Accuracy: 0.5341
Epoch 75/100, Train Loss: 1.3680, Val Loss: 1.4363, Val Accuracy: 0.5289
Epoch 76/100, Train Loss: 1.3672, Val Loss: 1.4382, Val Accuracy: 0.5341
Epoch 77/100, Train Loss: 1.3606, Val Loss: 1.4399, Val Accuracy: 0.5381
Epoch 78/100, Train Loss: 1.3526, Val Loss: 1.4301, Val Accuracy: 0.5330
Epoch 79/100, Train Loss: 1.3677, Val Loss: 1.4359, Val Accuracy: 0.5358
Epoch 80/100, Train Loss: 1.3577, Val Loss: 1.4227, Val Accuracy: 0.5318
Epoch 81/100, Train Loss: 1.3557, Val Loss: 1.4273, Val Accuracy: 0.5330
Epoch 82/100, Train Loss: 1.3520, Val Loss: 1.4278, Val Accuracy: 0.5370
Epoch 83/100, Train Loss: 1.3509, Val Loss: 1.4325, Val Accuracy: 0.5335
Epoch 84/100, Train Loss: 1.3659, Val Loss: 1.4306, Val Accuracy: 0.5318
Epoch 85/100, Train Loss: 1.3509, Val Loss: 1.4336, Val Accuracy: 0.5393
Epoch 86/100, Train Loss: 1.3451, Val Loss: 1.4363, Val Accuracy: 0.5295
Epoch 87/100, Train Loss: 1.3455, Val Loss: 1.4326, Val Accuracy: 0.5318
Epoch 88/100, Train Loss: 1.3484, Val Loss: 1.4345, Val Accuracy: 0.5295
Epoch 89/100, Train Loss: 1.3372, Val Loss: 1.4361, Val Accuracy: 0.5410
Epoch 90/100, Train Loss: 1.3461, Val Loss: 1.4351, Val Accuracy: 0.5295
Epoch 91/100, Train Loss: 1.3366, Val Loss: 1.4351, Val Accuracy: 0.5318
Epoch 92/100, Train Loss: 1.3464, Val Loss: 1.4307, Val Accuracy: 0.5324
Epoch 93/100, Train Loss: 1.3452, Val Loss: 1.4303, Val Accuracy: 0.5307
Epoch 94/100, Train Loss: 1.3370, Val Loss: 1.4278, Val Accuracy: 0.5375
Epoch 95/100, Train Loss: 1.3323, Val Loss: 1.4334, Val Accuracy: 0.5370
Epoch 96/100, Train Loss: 1.3349, Val Loss: 1.4376, Val Accuracy: 0.5335
Epoch 97/100, Train Loss: 1.3299, Val Loss: 1.4255, Val Accuracy: 0.5318
Epoch 98/100, Train Loss: 1.3393, Val Loss: 1.4210, Val Accuracy: 0.5387
Epoch 99/100, Train Loss: 1.3274, Val Loss: 1.4227, Val Accuracy: 0.5381
Epoch 100/100, Train Loss: 1.3264, Val Loss: 1.4234, Val Accuracy: 0.5444
Test Accuracy: 0.5524

: